body {
    background-color: rgb(38, 38, 38)
}

h1, h4, label{
    color: white;
}

.btn {
    margin-top: 6px;
    margin-right: 12px;
    border-color: #e2ac34;
    background-color: #e2ac34;
    border-radius: 0.25rem;
    padding: 6 12rem;
}

.btn-send {
    color: black;
}

.btn-back {
    color: gray;
}
