body{
    color: white;
}

.container{
    padding: 15px;
}

h1{
    text-align: center;
}

table {
    padding: 0.5rem 0;
    color: white;
}

tbody {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

.price-box {
    border: 2px solid #E2C296;
    display: grid;
    flex-direction: column;
    border-radius: 8px;
    margin: 10px;
    font-size: 25px;
    width: 25%;
}

    .price-box:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

.first, .second{
    border-bottom: 2px solid #E2C296;
}

.first {
    border-radius: 5px;
}


td {
    text-align: center;
    padding: 0.5rem 0;
    min-width: 145px;
}

.btn-details {
background-color: darkslateblue;
border: none;
border-radius: 8px;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}

.responsive-table {
    overflow-x: auto;
}

@media (max-width: 576px) {
    .container {
        max-width: 500px;
        padding: 0;
    }

    table {
        padding: 0;
    }

    .responsive-table {
        max-width: 500px;
    }
}