@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primry-color: #E2C296;
}

body {
    background: rgb(42, 42, 42);
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue';
}

.container {
    max-width: 73.125rem;
}

.navbar {
    width: auto;
    padding: 1em;
    .container

{
    margin: auto 2em;
    display: flex;
    place-content: space-between;
}

.logo {
    text-decoration: none;
    -webkit-text-stroke: 1px #E2C296;
    color: white;
    font-size: 1.5em;
    // span

{
    // color: var(--primary-color);
    //
}

}

nav {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

}

.hero {
    position: static;
    height: 100%;
    .container

{
    background-image: url("images/1-Background.png");
    background-position: center;
    background-size: cover;
    padding: 1em 2em;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

.entryTo {
    padding: 5em 2em 1em 2em;
}

.main {
    margin-top: 2em;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 4em;
    line-height: 1.3em;
}

.subhead {
    padding-top: 8em;
    font-size: 2em;
    font-weight: 100;
    bottom: 2em;
    text-align: center;
}

@media only screen and (max-width: 443px) {
    .subhead {
        padding-top: 8em;
    }
}

}

.first {
    height: 100%;
    .container

{
    display: flex;
    align-items: center;
}

.left-col {
    margin: 1em 0 1em 1em;
    justify-content: center;
    text-align: left;
    width: 50%;
    .head

{
    margin-left: 1em;
    font-weight: 400;
    font-size: 4em;
    line-height: 1.3em;
    color: #E2C296;
}

.description {
    margin: 0 1em 3em 4em;
    color: #FFFFFF;
    font-family: Futura;
    font-weight: 500;
}

}

.right-col {
    text-align: right;
    width: 50%;
    .horsesFace

{
    width: 100%;
    height: auto;
}

}
}

.video1 {
    .container

{
    position: relative;
    width: 80%;
    padding-bottom: 56.25%;
    height: 0;
    margin: 0 auto;
    iframe

{
    max-height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

}
}

.contact {
    display: flex;
    color: #E2C296;
    h1

{
    font-size: 2em;
    margin-top: 1em;
    margin-left: 1em;
}

h4 {
    font-weight: normal;
    margin-left: 1em;
}

hr:not([size]) {
    height: 1px;
}

.container {
    padding: 1em 4em;
    width: 80%;
    margin-bottom: 1em;
}

input {
    width: 50%;
    padding: 0.5em;
    border: 2px solid #E2C296;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px
}

label {
    display: block;
    font-weight: normal;
    margin-left: 1em;
}

}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #555555;
    height: 100vh;
    padding: 1em;
    ul .primary-nav

{
    margin-top: 5em;
}

li {
    a

{
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 2em;
    text-align: right;
    &:hover

{
    font-weight: bold;
    color: var(--primary-color);
}

}
}
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        ul

{
    display: flex;
}

a {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    padding: .1em 1em;
    &:hover

{
    color: var(--primry-color);
}

}

ul.primary-nav {
    margin: 0;
}

li.current a {
    font-weight: bold;
}

li.go-premium-cta {
    border: 3px solid var(--primary-color);
    border-radius: 5em;
}

}
}


@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1920px;
        margin: 0 auto;
    }
}
