<link rel="stylesheet" href="~/css/AdminPricing.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Setting</h1>

<div class="admin">
    <a class="admin-btn" asp-action="AdminPricing">Price Settings</a>

    <a class="admin-btn" asp-controller="AdminPricings" asp-action="AdminRequests" asp-action="ContactUs">Requests</a>
</div>
