<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ContactUs.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="container">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index" >Remember<span>That</span></a>

                <img id="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="Open Navigation">

                <nav>
                    <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navigation">

                    <ul class="primary-nav">
                        <li class="current"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="AdminPricings" asp-action="Index">Admin Access</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a></li>
                    </ul>

                    <ul class="secondary-nav">
                        <li><a class="contact" asp-area="" asp-controller="Home" asp-action="ContactUs">ContactUs</a></li>
@*                         <li class="go-premium-cta"><a href="#">Your Requests</a></li>
 *@                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
