@{
    ViewData["Title"] = "Home Page";
}

<body>
    <section class="hero">
        <div class="container">
            <div class="entryTo">
                <p class="main">Next Level for Showjumping</p>

                <p class="subhead" id="Discover-scroll-down">Discover</p>
            </div>
        </div>
    </section>

    <section class="first">
        <div class="container">
            <div class="left-col">
                <p class="head">Trio, <span>The Legacy</span></h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="right-col">
                <img class="horsesFace" src="images/1-Horse'sFace.png" alt="Horse's Face">
            </div>
        </div>
    </section>

    <section class="video1">
        <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Uh1DAyJt4CE?si=u2QO89laB5KVhsb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </section>
</body>
